body{
    background-color: #f1f1f1;
    align-items: center;
    justify-content: center;
}
.container{
    text-align: center;
    position: relative;
    width: 750px;
    margin: 0 auto;
    background-color:rgba(0, 128, 128, 0.698);
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}
.container p{
    font-size: 30px;
}
h1{
    font-size: 55px;
    padding-top: 20px;
    font-weight: 100;
    padding-top: 40px;
}
.container input{
    padding: 20px 70px;
    margin: 25px 0;
    box-sizing: border-box;
    font-size: 30px;
    visibility: hidden;
}



.button-start {
    display: block;
    padding: 15px 32px;
    text-align: center;
    font-size: 30px;
    width: 200px;
    margin: 0 auto;
}

#score {
    float: right; 
    margin-top: -120px;
    padding-right: 30px;
    font-size: 18px;
}